.about-me {
   text-align: center;
  
}

.card {
   margin-top: 20px; 
   margin-bottom: 20px; 
}

.category-title {
  text-align: center; 
}

.experience-image {
    max-width: 100%;
    height: auto; 
    border-radius: 8px;
    float: left;
    margin: 20px;
}

.experience-title {
  text-align: left;
}

.intro-image {
  margin-bottom: 30px; 
}