/* border box-size fix */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


.section {
    padding-bottom: 10px;
    padding-left: 5%; 

}

.title {
    padding-left: 4%; 

}

.date {
 color: deepskyblue; 
}

h2, h3, h1, a {
  color: grey;
}
a {
  text-decoration: none;
}

/* cards */

.card {
  max-width: 900px; 
  margin: auto;
}

.card .title {
  padding-top: 2%
}

.introImage {
  max-width: 100%;
  height: auto;
}


/* icons */

.material-icons {
  position: relative;
  /* Adjust these values accordingly */
  top: 3px;
  right: 5px;
  }

/* social media */


.social-content {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
  }

.social-item {
  padding: 20px; 
}

