/* border box-size fix */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #F8F9F9; 
  padding: 0px; 
  margin: 0px; 
}

.section {
    padding-bottom: 10px;
    padding-left: 5%; 
    padding-right: 5%; 
}

.title {
    padding-left: 4%; 
}

.date {
 color: #1A237E; 
}

h1, h2, h3, h4, a {
  color: grey;
}

a {
  text-decoration: none;
}

/* card */

.card {
  max-width: 900px; 
  margin: auto;
  margin-bottom: 10px; 
}

.card .title {
  padding-top: 2%
}

.introImage {
  max-width: 100%;
  height: auto;
}


/*** icons ***/

.material-icons{
  position: relative;
  /* Adjust these values accordingly */
  top: 3px;
  right: 5px;
}

.em-wave {
  font-size: 16px; 
  margin-right: 5px; 
}

/* social media */

.social-content, .section-title {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
}

.social-item {
  padding: 20px; 
}

